body {
  font-family: 'PT Mono', monospace;
  color: white;
  height: 100vh;
  margin: 0;
}

.lvl11-container-1 {
  width: 65%;
  position: relative;
  overflow: scroll;
  float: left;
  overflow-x: hidden;
    height: 100%;
}

.lvl11-container-1 img  {
  max-width: 100%;
}

.lvl11-container-2 {
  float: right;
  width: 20%;
  padding:5%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow: auto;
  overflow-x: hidden;
}

.lvl11-container-2 img {
  max-width: 100%;
}

.lvl11-container-2--student {
    font-family: 'PT Mono', monospace;
    float: right;
    width: 20%;
    padding:5%;
}

.arrow {
  cursor: pointer;
  width: 30%;
  height: 30%;
  position: fixed;
  left: 5%;
  z-index: 1
}

.arrow img {
  position: absolute;
  max-width: 300%;
  max-height: 300%
}

.arrow .arrow__up {
  z-index: 9999;
  transition: opacity .5s linear;
}

.arrow .arrow__down{
  opacity: 0;
}

.arrow:hover > .arrow__up{
  opacity: 0;
}
.arrow:hover > .arrow__down{
  opacity:100;
}
.homepage{
  position: fixed;
  width: 170px;
  right: 2%;
  bottom: 0;
  z-index: 20;
}

.homepage img{
 max-width: 100%;
}
