body {
  font-family: 'PT Mono', monospace;
  color: white;
  height: 100vh;
  margin: 0;

}
.container {
  width: 100%;
  position:relative;
}
.module {
  width: 65%;
  position: absolute;
  overflow: visible;
  float: left;
}

.module img  {
  max-width: 100%;
  max-height: 100%
}

.info {
  float: right;
  width: 20%;
  position: relative;
  overflow:hidden;
  padding:5%;
}

.info img {
  max-width: 100%;
  max-height: 100%
}

.arrow {
  cursor: pointer;
  width: 30%;
  height: 30%;
  position: fixed;
  left: 5%;
  z-index: 1
}

.arrow img {
  position: absolute;
  max-width: 300%;
  max-height: 300%
}

.arrow .arrow__up {
  z-index: 9999;
  transition: opacity .5s linear;
}

.arrow .arrow__down{
  opacity: 0;
}

.arrow:hover > .arrow__up{
  opacity: 0;
}
.arrow:hover > .arrow__down{
  opacity:100;
}


@media all and (max-width: 400px)
{
  .module  {
  display: block;
  float: left;
  width: 40%;
  }

  .module img  {
    max-width: 100%;
    max-height: 100%
  }

  .info {
    width: 50%;
  }
  .info img {
    position: absolute;
    max-width: 100%;
    max-height: 100%
  }

}
